<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.FruitMapper">

<!--    <insert id="batchInsert">-->
<!--        INSERT INTO fruit (username, age) VALUES-->
<!--        <foreach collection="list" item="item" separator=",">-->
<!--            (#{item.name}, #{item.age})-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <resultMap id="FruitResultMap" type="org.example.entity.Fruit">-->
<!--        <id column="fr_name" javaType="String">-->
<!--            name, price-->
<!--        </id>-->
<!--    </resultMap>-->
</mapper>
